@import 'tailwindcss';

@config '@mono/tailwind-config';

@theme {
  --color-white: #ffffff;
  --color-dark: #202020;

  --color-yellow: #ffdf66;

  --font-default: 'Manrope', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-default);
  font-variant-numeric: lining-nums;
  background-color: white;
}

body {
  font-size: 1.6rem;
  letter-spacing: 0.01em;
  scroll-padding: auto;
  scroll-timeline-axis: none y;
}

input,
textarea,
select {
  outline: none;
}

button {
  cursor: pointer;
}

::selection {
  background-color: #d6d6d6;
}
